<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TagMenu.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>F89A4437134A27B6B6B0DF261F4E2E8261D34B07</string>
				<key>dateExpires</key>
				<string>2/6/20</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>E32N8SFCV4.br.com.tagme.digitalmenu.v7</string>
				<key>com.apple.developer.team-identifier</key>
				<string>E32N8SFCV4</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>E32N8SFCV4.br.com.tagme.digitalmenu.v7</string>
				</array>
			</dict>
			<key>name</key>
			<string>TagMenu.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>40a864f4-810a-4ad7-b150-1a114cd36189</string>
				<key>name</key>
				<string>TagmeDigitalMenuDistribution2017</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>E32N8SFCV4</string>
				<key>name</key>
				<string>ALVES CUNHA TORRES INFORMATICA LTDA.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
